html {
    height: 100%;
    background-color: aqua;
}

body {
    height:100%;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    height:auto;
    width:auto;
    padding:4rem;
}

.box  {
    background-color: white;
}


.grid {
    display:flex;
    box-shadow:0 0 10px lightgrey;
    box-sizing:border-box
}

#header {
    font-family:"Roboto";
    font-size: 3rem ; 
    font-weight : 900;
    color : #3b3d42;
    text-align:center;

}

#color-picker {
    appearance:none;
    border:none;
    width:5rem ; 
    height:5rem;
    padding:0px;
    border-radius:10%;
    margin:0;
}

.sidebar {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-right:1rem;

}

button {
    margin:10px ;
    display: inline-block ;
    outline: 0;
    cursor : pointer;
    text-align: center;
    border:0;
    padding : 7px 16px;
    min-height: 36px;
    min-width:36px;
    color:#ffffff;
    background-color: #008060;
    border-radius: 4px;
    font-weight : 500;
    font-size : 14px;
    box-shadow: rgba(0,0,0,0.05) 0px 1px 0px 0px , rgba (0,0,0,0.2) 0px -1px 0px 0px inset;}


#size {
    accent-color : #008060 ;
}

p {
    font-family: sans-serif ;
    color: rgb(15, 3, 1) ;
    font-weight : bold;
}